@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html {
  font-size: 16px;
}
body {
  margin: 0;
  background: #f5f6f8;
  color: #222;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.8rem;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

select {
  height: 40px;
  font-size: 2.8rem;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  height: 70px;
  background: inherit;
  color: #fff;
  padding-left: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  display: inline-block;
  padding: 20px;
  border: 0;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  color: #2e2e2e;
  background: #61dafb;
}

button:hover {
  background: #79b6f2;
}

#main .header {
  padding: 20px 25vw;
  background: #282C34;
  color: #fff;
  width: 50vw;
  justify-content: center;
}

.main {
  font-size: 2rem;
  width: 60vw;
  height: 30vh;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-hook {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 50vw;
  max-height: 70vh;
}