@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html {
  font-size: 16px;
}

h1 {
  font-size: 2.8rem;
}

body {
  margin: 0;
  background: #f5f6f8;
  color: #222;
  font-family: 'Roboto', sans-serif;
}

button {
  display: inline-block;
  padding: 12px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  max-width: 120px;
  max-height: 50px;
  background: #61dafb;
}
button:hover {
  background: #79b6f2;
}


.header {
  padding: 20px 25vw;
  background: #282C34;
  color: #fff;
  width: 50vw;
}

.main {
  font-size: 2rem;
  width: 60vw;
  height: 30vh;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}